@model MB.AgilePortfolio.MVCUI.ViewModels.ProjectPrivaciesUsersStatuses

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Filepath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Filepath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.privacyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.privacyDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Purpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Purpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Environment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Environment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Challenges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Challenges)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.FuturePlans)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.FuturePlans)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Collaborators)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Collaborators)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.LastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.LastUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.SoftwareUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.SoftwareUsed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statusDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statusDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Project.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
