@model MB.AgilePortfolio.MVCUI.ViewModels.UserProfile

@{
    /**/

    ViewBag.Title = "DeleteProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Project</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Are You Sure You Want to Delete @Model.Project.Name?</h2>

    </div>

}
@using (Html.BeginForm("DeleteProject", "UserProfile"))
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Yes" class="btn btn-default" />
        </div>
    </div>
}
@using (Html.BeginForm())
{
    <div>
        @Html.ActionLink("No", "EditProjects")
    </div>
}

<div>
    @Html.ActionLink("Back to Projects", "EditProjects")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
