@model MB.AgilePortfolio.MVCUI.ViewModels.UserProfile

@{
    /**/

    ViewBag.Title = "DeletePortfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Project</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2 align="center">Are You Sure You Want to Delete <span style="color:red">@Model.Portfolio.Name?</span></h2>
    </div>
}

@using (Html.BeginForm("DeletePortfolio", "UserProfile")
{
    <div class="form-group" align="center">
        <div class="row">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" value="Yes" class="btn btn-primary" />
                @using (Html.BeginForm())
                {
                    @Html.ActionLink("No", "EditPortfolio", null, null, new { @class = "btn btn-primary", @style = "margin-left:60px" })
                }
            </div>
        </div>
    </div>
 }

<div>
    @Html.ActionLink("Back to Projects", "DeletePortfolio")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
