@model MB.AgilePortfolio.MVCUI.ViewModels.UserProfile

@{
    ViewBag.Title = "View Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Projects</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4 align="center">Projects</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @if (Model.Projects.Count < 1)
    {
        <p align="center" style="font-style:italic">You have no projects currently</p>
        <div class="text-center ">
            <div class="card mt-2" style="height:98%;">
                <div class="card-body" style="text-align:center">
                    <a href="~/CreateNewProject/Create/" class="card-link" style="text-align:center;vertical-align:middle;">
                        <i class="far fa-plus-square mt-2" style="font-size:150px;vertical-align:middle;text-align:center;margin:auto;">
                        </i>
                        <h4 class="mt-4">Create Project</h4>
                    </a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container-fluid mt-4">
            <div class="row">
                @foreach (var prj in Model.Projects.OrderBy(i => i.Name))
                {
                    <div class="col-md-4">
                        <div class="card mt-2">
                            <a href="~/Screenshot/EditProject/@prj.Id" class="card-link" style="text-align:center">
                                <img class="card-img-top project-image" src="@Url.Content("~/" + prj.Image)" onerror="this.onerror = null;this.src='/Assets/Images/UserProfiles/Default.png'" alt=@prj.Name>
                                <div class="card-body" style="text-align:center">

                                    <h5 class="card-title" style="width: 90%;text-align:left">@prj.Name</h5>
                                    <h6 class="card-subtitle mb-2 text-muted" style="text-align:left">
                                        @if (prj.Languages != null)
                                        {
                                            int badgeCount = 0;

                                            foreach (var lang in prj.Languages)
                                            {
                                                if (badgeCount < 5)
                                                {
                                                    <span class="badge badge-pill badge-@lang.BadgeName">@lang.Description</span>
                                                    badgeCount++;
                                                }
                                            }
                                        }
                                    </h6>
                                    <p class="card-text" style="text-align:left">@prj.ShortDescription...</p>


                                </div>
                            </a>
                        </div>
                    </div>
                }
                <div class="col-md-4">
                    <div class="card mt-2" style="height:98%;">
                        <div class="card-body" style="text-align:center">
                            <a href="~/CreateNewProject/Create/" class="card-link" style="text-align:center;vertical-align:middle;">
                                <i class="far fa-plus-square mt-2" style="font-size:150px;vertical-align:middle;text-align:center;margin:auto;">

                                </i>
                                <h4 class="mt-4">Create Project</h4>
                                @*<img class="card-img-top project-image" src="@Url.Content("~/" + prj.Image)" alt="Card image cap">*@
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
}

<div>
    @Html.ActionLink("Back to Profile", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
