@model MB.AgilePortfolio.MVCUI.ViewModels.UserProfile

@{
    ViewBag.Title = "EditPortfolios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Portfolios</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Portfolios</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @foreach (var portfolio in Model.Portfolios)
        {
            <div class="form-group">
                <div class="col-md-10">
                    @Html.ActionLink(
                   portfolio.Name,
                   "EditPortfolio",
                   "UserProfile",
                   new { id = portfolio.Id },
                   new { @class = "btn btn-primary"}
                   )
                    @Html.ValidationMessageFor(model => portfolio.Name, "", new { @class = "text-danger" })
                </div>
            </div>
        }

    </div>

    @*
            <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    *@
</div>
}

<div>
    @Html.ActionLink("Back to Profile", "EditProfile")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
