@model MB.AgilePortfolio.MVCUI.ViewModels.UserProfile 

@{
    ViewBag.Title = "View Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Projects</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 align="center">Projects</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @if (Model.Projects.Count < 1)
            {
                <p align="center" style="font-style:italic">You have no projects currently</p>
            }
            else
            {
                foreach (var prj in Model.Projects.OrderBy(i => i.Name))
                {
                    <div class="form-group" align="center">
                        <div class="col-md-10">
                            @Html.ActionLink(
                           prj.Name,
                           "EditProject",
                           "Screenshot",
                           new { id = prj.Id },
                           new { @class = "btn btn-primary"}
                           )
                            @Html.ValidationMessageFor(model => prj.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
            }

        </div>
    </div>
}

    <div align="center">
        @Html.ActionLink("Create New Project", "Create","CreateNewProject")
    </div>

<div>
    @Html.ActionLink("Back to Profile", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
