@model MB.AgilePortfolio.MVCUI.ViewModels.UserProfile

@{
    ViewBag.Title = Model.User.FullName;
}
<div class="mb-5">
    <span class="h2">@Model.User.UserTypeDescription Profile </span> | <span class="h2 small"> @Html.ActionLink("Edit", "EditProfile", new { /* id = Model.PrimaryKey */ })</span>
</div>


<div class=" container-fluid">
    <div class="row">
        <div class="col-md-9">
            <h1 class="display-5">@Model.User.FullName</h1>
            <hr />
            <h2 class="display-6 font-italic">@Model.User.Email</h2>
            <dl class="dl-horizontal"></dl>
            <br />

            <span class="h4">@Model.User.UserTypeDescription</span>
        </div>
        <div class="col-md-3">
            <div>
                @if (Model.User.ProfileImage != null)
                {
                    <img src="~/@Model.User.ProfileImage" onerror="this.onerror = null;this.src='/Assets/Images/UserProfiles/Default.png'" alt="Profile Image" width="300px" class="rounded-circle" />
                }
                else
                {
                    <img src="~/Assets/Images/UserProfiles/Default.png" alt="Default Profile Image" class="w-300 rounded-circle" />
                }
            </div>
        </div>
    </div>
</div>

<h3 class="mt-5">Projects:</h3>
<div class="container-fluid mt-4">
    <div class="row">
        @if (Model.Projects.Count == 0 || Model.Projects == null)
        {
            <div class="col-md-4">
                <div class="card mt-2">
                    <div class="card-body text-center">
                        <h5 class="card-title w-90;">No Projects Yet</h5>
                        <p class="card-text">But that doesn't mean you can't add one!</p>
                        <a href="~/CreateNewProject/Create" class="card-link">
                            <i class="fas fa-arrow-alt-circle-right mt-2 text-center m-auto align-middle" style="font-size:150px;">

                            </i>
                            <div>Add a project!</div>
                        </a>
                    </div>
                </div>
            </div>
        }
        else
        {
            int count = 0;
            foreach (var item in Model.Projects)
            {
                if (count < 5)
                {
                    if (item.Image == null)
                    {
                        item.Image = "Assets/Images/UserProfiles/Default.png";
                    }
                    <div class="col-md-4">
                        <div class="card mt-2">
                            <a href="~/Screenshot/EditProject/@item.Id">
                                <img class="card-img-top project-image" src="@Url.Content("~/" + @item.Image)" onerror="this.onerror = null;this.src='/Assets/Images/UserProfiles/Default.png'" alt="Project Image">
                            </a>
                            <div class="card-body text-center">
                                <a href="~/Screenshot/EditProject/@item.Id">
                                    <h5 class="card-title w-90 text-left">@item.Name</h5>
                                </a>
                                <h6 class="card-subtitle mb-2 text-muted text-left">
                                    @if (item.Languages != null)
                                    {
                                        int badgeCount = 0;

                                        foreach (var lang in item.Languages)
                                        {
                                            if (badgeCount < 5)
                                            {
                                                <span class="badge badge-pill badge-@lang.BadgeName">@lang.Description</span>
                                                badgeCount++;
                                            }
                                        }
                                    }

                                </h6>
                                <p class="card-text text-left">@item.ShortDescription...</p>
                                <a href="~/Screenshot/EditProject/@item.Id">
                                    <br />
                                    View Project
                                </a>
                            </div>
                        </div>
                    </div>
                }
                count++;
            }
            <div class="col-md-4">
                <div class="card mt-2">
                    <a href="~/UserProfile/EditProjects" class="card-link">
                        <div class="card-body text-center">
                            <h5 class="card-title w-90;">There's Even More!</h5>
                            <i class="fas fa-arrow-alt-circle-right mt-2 text-center m-auto align-middle" style="font-size:150px;">

                            </i>
                            <div>View All Projects</div>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>

<h3 class="mt-5">Portfolios:</h3>
<div class="container-fluid mt-4">
    <div class="row">
        @if (Model.Portfolios.Count == 0 || Model.Portfolios == null)
        {
            <div class="col-md-4">
                <div class="card mt-2">
                    <div class="card-body text-center">
                        <h5 class="card-title w-90">No Portfolios Yet</h5>
                        <p class="card-text">But that doesn't mean you can't add one!</p>
                        <a href="~/CreateNewPortfolio/Create" class="card-link">
                            <i class="far fa-plus-square mt-2 text-center m-auto align-middle" style="font-size:150px;">

                            </i>
                            <div>Add a portfolio!</div>
                        </a>
                    </div>
                </div>
            </div>
        }
        else
        {
            int count = 0;
            foreach (var item in Model.Portfolios)
            {
                if (count < 5)
                {
                    if (item.PortfolioImage == null)
                    {
                        item.PortfolioImage = "Assets/Images/UserProfiles/Default.png";
                    }
                    <div class="col-md-4">
                        <div class="card mt-2">
                            <a href="~/UserProfile/EditPortfolio/@item.Id">
                                <div class="card-body text-center">
                                    <img class="card-img-top project-image" src="@Url.Content("~/" + @item.PortfolioImage)" onerror="this.onerror = null;this.src='/Assets/Images/UserProfiles/Default.png'" alt="Portfolio Image">
                                    <h5 class="card-title w-90 text-left">@item.Name</h5>
                                    <p class="card-text text-left">@item.ShortDescription...</p>
                                    <br />
                                    View Portfolio
                                </div>
                            </a>
                        </div>
                    </div>
                }
                count++;
            }
            <div class="col-md-4">
                <div class="card mt-2">
                    <a href="~/UserProfile/EditPortfolios" class="card-link">
                        <div class="card-body text-center">
                            <h5 class="card-title" style="width: 90%;">But Wait... There's More</h5>
                            <i class="fas fa-arrow-alt-circle-right mt-2 text-center m-auto align-middle" style="font-size:150px;">

                            </i>
                            <div>View All Portfolios</div>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>

@*
    <div class="form-group mt-4" align="center">
        <div class="form-group">
            @Html.ActionLink("View Projects", "EditProjects", null, null, new { @class = "btn btn-primary" })
            @Html.ValidationMessageFor(model => model.Project.Name, "", new { @class = "text-danger" })
            @Html.ActionLink("View Portfolios", "EditPortfolios", null, null, new { @class = "btn btn-primary" })
            @Html.ValidationMessageFor(model => model.Portfolio.Name, "", new { @class = "text-danger" })
        </div>


    </div>
*@

