@model MB.AgilePortfolio.MVCUI.ViewModels.UserProfile

@{
    if (Model.User.Id != Guid.Empty)
    {
        ViewBag.Title = Model.User.FullName;
    }
    else
    {
        ViewBag.Title = "Profile Not Found";
    }
}
<style>
    .email {
        word-break: break-all;
    }

    .bio-text{
        font-size: 1.6em;
    }
</style>

@if (Model.User.Id == Guid.Empty)
{
    //Profile not found.
    <div class=" container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-2 text-center text-secondary mt-5">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    Profile Not Found
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </h1>
                <div class="text-center mt-5">
                    @Html.ActionLink("Search Profiles", "Index", "Search", new { option = "Profile" }, new { @class = "btn btn-secondary border-dark" })
                </div>
            </div>
        </div>
    </div>
}
else
{
    //Profile found
    <div class="mb-5">
        <span class="h2">User Profile  @if (@HttpContext.Current.Session["user"] != null && Model.User.Id.ToString() == @HttpContext.Current.Session["UserID"].ToString())
        {<span class="h2 small"> | @Html.ActionLink("Edit", "EditProfile", new { id = Model.User.Id })</span>} </span> 
    </div>

    <div>
        <div class=" container jumbotron">
            <div class="row">

                <div class="col-md-9">
                    <h1 class="display-5">@Model.User.FullName <span class="small badge badge-secondary">@Model.User.UserTypeDescription</span></h1>
                    <hr />
                    <h2 class="display-6 email">@Model.User.Email</h2>
                    <dl class="dl-horizontal"></dl>
                    <br />


                </div>
                <div class="col-md-3">
                    <div>
                        @if (Model.User.ProfileImage != null)
                        {
                            <img src="~/@Model.User.ProfileImage" onerror="this.onerror = null;this.src='/Assets/Images/UserProfiles/Default.png'" alt="Profile Image" class="rounded-circle w-100" />
                        }
                        else
                        {
                            <img src="~/Assets/Images/UserProfiles/Default.png" alt="Default Profile Image" class="rounded-circle w-100" />
                        }
                    </div>
                </div>
            </div>
            @if (Model.User.ProfileImage != null)
            {

                <div class="row mt-4 bio-text font-weight-light border-dark rounded p-2">
                    @Model.User.Bio

                </div>
            }
        </div>



        <h3 class="mt-5">
            Projects @if (@HttpContext.Current.Session["user"] != null && Model.User.Id.ToString() == @HttpContext.Current.Session["UserID"].ToString())
            {<span class="h2 small"> | @Html.ActionLink("Edit Projects", "EditProjects", new { id = Model.User.Id })</span>}
        </h3> 
        <div class="container-fluid mt-4">
            <div class="row">
                @if (Model.Projects.Count == 0 || Model.Projects == null)
                {
                    <div class="col-md-4 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title w-90">No Projects Currently</h5>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    int count = 0;
                    foreach (var item in Model.Projects)
                    {
                        if (count < 5)
                        {
                            if (item.Image == null)
                            {
                                item.Image = "Assets/Images/UserProfiles/Default.png";
                            }
                            <div class="col-md-4 mt-2">
                                <div class="card mt-2 mb-2 h-100">
                                    <a href="~/User/@Model.User.UrlFriendlyName/Projects/@item.UrlFriendlyName" class="card-link text-center">
                                        <img class="card-img-top project-image" src="@Url.Content("~/" + @item.Image)" onerror="this.onerror = null;this.src='/Assets/Images/UserProfiles/Default.png'" alt="Project Image">
                                    </a>
                                    <div class="card-body text-center">
                                        <a href="~/User/@Model.User.UrlFriendlyName/Projects/@item.UrlFriendlyName" class="card-link text-center">
                                            <h5 class="card-title w-90 text-left">@item.Name</h5>
                                        </a>
                                        <h6 class="card-subtitle mb-2 text-muted text-left">
                                            @if (item.Languages != null)
                                            {
                                                int badgeCount = 0;

                                                foreach (var lang in item.Languages)
                                                {
                                                    if (badgeCount < 5)
                                                    {
                                                        <span class="badge badge-pill badge-@lang.BadgeName">@lang.Description</span>
                                                        badgeCount++;
                                                    }
                                                }
                                            }
                                        </h6>
                                        <p class="card-text text-left">@item.ShortDescription</p>
                                        <a href="~/User/@Model.User.UrlFriendlyName/Projects/@item.UrlFriendlyName" class="card-link text-center">
                                            <br />
                                            View Project
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                        count++;
                    }
                    <div class="col-md-4 mt-2">
                        <div class="card mt-2">
                            <a href="~/User/@Model.User.UrlFriendlyName/Projects" class="card-link">
                                <div class="card-body text-center">
                                    <h5 class="card-title w-90;">There's Even More!</h5>
                                    <i class="fas fa-eye mt-3 mb-3 text-center m-auto align-middle" style="font-size:150px;">

                                    </i>
                                    <div>View All of @Model.User.FirstName's Projects</div>
                                    </div>
</a>
                        </div>
                    </div>
                }

            </div>
        </div>


        <h3 class="mt-5">
            Portfolios @if (@HttpContext.Current.Session["user"] != null &&  Model.User.Id.ToString() == @HttpContext.Current.Session["UserID"].ToString())
            {<span class="h2 small"> | @Html.ActionLink("Edit Portfolios", "EditPortfolios", new { id = Model.User.Id })</span>}
        </h3> 
        <div class="container-fluid mt-4">
            <div class="row">
                @if (Model.Portfolios.Count == 0 || Model.Portfolios == null)
                {
                    <div class="col-md-4 mt-2">
                        <div class="card mt-2">
                            <div class="card-body">
                                <h5 class="card-title" style="width: 90%;">No Portfolios Currently</h5>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    int count = 0;
                    foreach (var item in Model.Portfolios)
                    {
                        if (count < 5)
                        {
                            if (item.PortfolioImage == null)
                            {
                                item.PortfolioImage = "Assets/Images/UserProfiles/Default.png";
                            }
                            <div class="col-md-4">
                                <div class="card mt-2">
                                    <a href="~/User/@Model.User.UrlFriendlyName/Portfolios/@item.UrlFriendlyName" class="card-link text-center">
                                        <div class="card-body text-center">
                                            <img class="card-img-top project-image" src="@Url.Content("~/" + @item.PortfolioImage)" onerror="this.onerror = null;this.src='/Assets/Images/UserProfiles/Default.png'" alt="Portfolio Image">
                                            <h5 class="card-title w-90 text-left mt-2">@item.Name</h5>
                                            <div class="text-left mb-2">
                                                @if (item.LanguagesOfProjects != null)
                                                {
                                                    int badgeCount = 0;

                                                    foreach (var lang in item.LanguagesOfProjects)
                                                    {
                                                        if (badgeCount < 5)
                                                        {
                                                            <span class="badge badge-pill badge-@lang.BadgeName">@lang.Description</span>
                                                            badgeCount++;
                                                        }
                                                    }
                                                }
                                            </div>
                                            <p class="card-text text-left">@item.ShortDescription</p>
                                            <br />
                                            View Portfolio
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                        count++;
                    }
                    <div class="col-md-4 mt-2">
                        <div class="card mt-2">
                            <a href="~/User/@Model.User.UrlFriendlyName/Portfolios" class="card-link">
                                <div class="card-body text-center">
                                    <h5 class="card-title" style="width: 90%;">But Wait... There's More</h5>
                                    <i class="fas fa-eye mt-3 mb-3 text-center m-auto align-middle" style="font-size:150px;">

                                </i>
                                    <div>View All of @Model.User.FirstName's Portfolios</div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>


    </div>

}