@model MB.AgilePortfolio.MVCUI.ViewModels.ScreenshotProjects
@{
    if (Model.Project != null)
    {
        ViewBag.Title = Model.Project.Name;
    }
    else
    {
        ViewBag.Title = "Project Not Found";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (Model.Project == null)
{
    //Project not found.
    <div class=" container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-2 text-center text-secondary mt-5">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    Project Not Found
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </h1>
                <div class="text-center mt-5">
                    @Html.ActionLink("Search Projects", "Index", "Search", new { option = "Project" }, new { @class = "btn btn-secondary border-dark" })
                </div>
            </div>
        </div>
    </div>
}
else
{

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <!DOCTYPE html>

        <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <script src="~/scripts/jquery-3.3.1.min.js"></script>
            <script src="~/scripts/bootstrap.min.js"></script>
            <script src="~/scripts/jquery.dataTables.min.js"></script>
            <script src="~/scripts/dataTables.bootstrap4.min.js"></script>
            <style>

                #myImg {
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 0.3s;
                }

                    #myImg:hover {
                        opacity: 0.7;
                    }

                /* The Modal (background) */
                .modal {
                    display: none; /* Hidden by default */
                    position: fixed; /* Stay in place */
                    z-index: 1; /* Sit on top */
                    padding-top: 100px; /* Location of the box */
                    left: 0;
                    top: 0;
                    width: 100%; /* Full width */
                    height: 100%; /* Full height */
                    overflow: auto; /* Enable scroll if needed */
                    background-color: rgb(0,0,0); /* Fallback color */
                    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
                }

                /* Modal Content (image) */
                .modal-content {
                    margin: auto;
                    display: block;
                    max-width: 80vw;
                    max-height: 80vh;
                    width:auto;
                }



                /* Caption of Modal Image */
                #caption {
                    margin: auto;
                    display: block;
                    width: 80%;
                    max-width: 700px;
                    text-align: center;
                    color: #ccc;
                    padding: 10px 0;
                    height: 150px;
                }

                /* Add Animation */
                .modal-content, #caption {
                    -webkit-animation-name: zoom;
                    -webkit-animation-duration: 0.6s;
                    animation-name: zoom;
                    animation-duration: 0.6s;
                }




                /* The Close Button */
                .close {
                    position: absolute;
                    top: 15px;
                    right: 35px;
                    color: #f1f1f1;
                    font-size: 40px;
                    font-weight: bold;
                    transition: 0.3s;
                }

                    .close:hover,
                    .close:focus {
                        color: #bbb;
                        text-decoration: none;
                        cursor: pointer;
                    }



                /*
                .multiselect {
                    width: 200px;
                }

                .selectBox {
                    position: relative;
                }
                */

                .selectBox select {
                    width: 100%;
                    font-weight: bold;
                }

                .overSelect {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }

                .carousel-inner img {
                    margin-top: 10px;
                    height: 200px;
                    width: 100%;
                    object-fit: contain;
                    cursor: pointer;
                }

                .carousel-inner {
                    padding-left: 10%;
                    padding-right: 10%;
                    width: 100%;
                }

                .carousel-item {
                    text-align: center;
                }

                html {
                    width: 100%;
                }

                body {
                    width: 100%;
                    word-wrap: break-word;
                }

                .container {
                    max-width: none;
                    width: 100% !important;
                    padding-right: 15px;
                    padding-left: 15px;
                    margin-right: 0;
                    margin-left: 0;
                }

                .sidebar {
                    padding: 5px;
                }
            </style>


        </head>

        <body>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2 border mt-2" id="sidebar">
                        <h2 class="mt-2">@Model.User.Username</h2>
                        <div>
                            <div class="text-center">
                                <a class="text-center" href="~/User/@Model.User.Username">
                                    @if (Model.User.ProfileImage != null)
                                    {
                                        <img class="profile-image rounded" width="100%" src="~/@Model.User.ProfileImage" onerror="this.onerror = null;this.src='/Assets/Images/UserProfiles/Default.png'" alt="Profile Image" />
                                    }
                                    else
                                    {
                                        <img src="~/Assets/Images/UserProfiles/Default.png" alt="Default Profile Image" width="100%" class="rounded-circle" />
                                    }
                                </a>
                            </div>
                            <h4 class="font-weight-normal mt-2">@Model.User.FullName</h4>
                            <h4 class="font-weight-light">@Model.User.Email</h4>
                            @if (Model.User.ShortBio != String.Empty)
                            {
                                <hr />
                                <p class="font-italic font-weight-light">
                                    @Model.User.ShortBio@if (Model.User.ShortBio.Length == 100)
                                    {<span>...</span>}
                                </p>
                            }
                            <hr />
                            <a href="~/User/@Model.User.UrlFriendlyName/Projects">
                                <p>View @Model.User.Username's other projects</p>
                            </a>
                            <a href="~/User/@Model.User.UrlFriendlyName/Portfolios">
                                <p>View @Model.User.Username's portfolios</p>
                            </a>


                        </div>


                    </div>
                    <div class="col-lg-10 pl-2 border mt-2">
                        <h2 class="text-left mt-2">
                            @Model.Project.Name <span class="badge badge-primary status_badge status_badge_@Model.Project.StatusDescription.ToLower().Replace(" ", "_")">@Model.Project.StatusDescription </span>
                            @if (@HttpContext.Current.Session["user"] != null && Model.User.Id.ToString() == @HttpContext.Current.Session["UserID"].ToString())
                            {<span class="h2 small"> | @Html.ActionLink("Edit Project", "EditProject", "Screenshot", new { id = Model.Project.Id }, null)</span>}
                        </h2>
                        @if (Model.Project.Languages != null)
                        {
            

                            foreach (var lang in Model.Project.Languages)
                            {

                                
                                    <span class="badge badge-pill badge-@lang.BadgeName">@lang.Description</span>

                                
                            }
                        }

                        @if (Model.Project.Description != null)
                        {
                            <hr />
                            <p class="project-description multiline">
                                @Html.DisplayFor(model => model.Project.Description)
                            </p>
                        }



                        @if (Model.Project.Image != "Assets/Images/UserProfiles/Default.png")
                        {
                            <div class="container py-4 text-center">
                                <img src="~/@Model.Project.Image" alt="Profile" class="w=100% h-350px text-center" style="object-fit:contain;">
                            </div>
                        }


                        <hr />




                        <hr />

                        <ul class="nav nav-tabs">
                            <li class="active nav-item"><a href="#firsttab" data-toggle="tab" class="nav-link">Basic Info</a></li>
                            <li class="nav-item"><a href="#secondtab" data-toggle="tab" class="nav-link">Project Details</a></li>
                            @if (Model.ScreenshotList?.Count > 0)
                            {
                                <li class="nav-item"><a href="#thirdtab" data-toggle="tab" class="nav-link">Screenshots</a></li>
                            }
                        </ul>

                        <div class="tab-content p-3">
                            <div class="tab-pane active" id="firsttab">
                                <dl class="dl-horizontal">

                                    @if (Model.Project.Location != null)
                                    {
                                        <dt>
                                            View Project Code
                                        </dt>

                                        <dd>
                                            <a href="//@Model.Project.Location">
                                                @Html.DisplayFor(model => model.Project.Location)
                                            </a>
                                        </dd>
                                    }

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Project.PrivacyDescription)
                                    </dt>
                                    <dd>

                                        @Html.DisplayFor(model => model.Project.PrivacyDescription)

                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Project.DateCreated)
                                    </dt>

                                    <dd>
                                        @Model.Project.DateCreated.ToString("MM/dd/yyyy")
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Project.LastUpdated)
                                    </dt>

                                    <dd>
                                        @Model.Project.LastUpdated.ToString("MM/dd/yyyy")
                                    </dd>

                                </dl>



                            </div>
                            <div class="tab-pane" id="secondtab">
                                <dl class="dl-horizontal">
                                    @if (Model.Project.Purpose != null)
                                    {
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Project.Purpose)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Project.Purpose)
                                        </dd>
                                    }
                                    @if (Model.Project.Environment != null)
                                    {
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Project.Environment)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Project.Environment)
                                        </dd>
                                    }
                                    @if (Model.Project.Challenges != null)
                                    {
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Project.Challenges)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Project.Challenges)
                                        </dd>
                                    }



                                    @if (Model.Project.SoftwareUsed != null)
                                    {
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Project.SoftwareUsed)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Project.SoftwareUsed)
                                        </dd>
                                    }

                                    @if (Model.Project.FuturePlans != null)
                                    {
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Project.FuturePlans)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Project.FuturePlans)
                                        </dd>
                                    }

                                    @if (Model.Project.Collaborators != null)
                                    {
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Project.Collaborators)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Project.Collaborators)
                                        </dd>
                                    }

                                    @if (Model.Project.Filepath != null)
                                    {
                                        <dt>
                                            @Html.DisplayName("Zip File")
                                        </dt>

                                        <dd>
                                            @Html.HiddenFor(model => model.Project.Filepath)
                                            <a href="/@Model.Project.Filepath" target="_blank">Download</a>
                                        </dd>
                                    }
                                </dl>
                            </div>
                            @if (Model.ScreenshotList?.Count > 0)
                            {
                                <div class="tab-pane" id="thirdtab">

                                    <!-- The Modal -->
                                    <div id="myModal" class="modal">
                                        <span class="close">&times;</span>
                                        <img class="modal-content" id="img01">
                                        <div id="caption"></div>
                                    </div>

                                    @{
                                        int imgleft = Model.ScreenshotList.Count;
                                        int ImagesPerTransition = 3;
                                    }

                                    <div id="demo" class="carousel slide" data-ride="carousel" data-interval="10000">

                                        <div class="carousel-inner" role="listbox">
                                            <div class="container">
                                                @if (Model.ScreenshotList?.Count > 0)
                                                {
                                                    int count = 1;
                                                    int modssi = Model.ScreenshotList.Count % ImagesPerTransition;
                                                    int iterations = 0;
                                                    imgleft = Model.ScreenshotList.Count;

                                                    if (modssi > 0)
                                                    {
                                                        if (Model.ScreenshotList.Count > ImagesPerTransition - 1)
                                                        {
                                                            iterations = (int)Math.Ceiling(((double)Model.ScreenshotList.Count) / ImagesPerTransition);
                                                        }
                                                        else
                                                        {
                                                            iterations = 1;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        iterations = (Model.ScreenshotList.Count) / ImagesPerTransition;
                                                    }
                                                    var active = iterations == 1 ? "active" : "";

                                                    for (int ssi = 0; ssi < iterations; ssi++)
                                                    {
                                                        if (ssi == 0)
                                                        {
                                                            if (iterations > 1)
                                                            {
                                                                <div class="carousel-item active row col-md-12">
                                                                    <div class="row">
                                                                        @for (int y = 0; y < ImagesPerTransition; y++)
                                                                        {
                                                                            @*<p>@Model.ScreenshotList[y].Name</p>*@
                                                                            string imgpath = "~/" + Model.ScreenshotList[y].FilePath;
                                                                            @*<a href='@Url.Action("PublicProject", "UserProfile",new { id = Model.Projects[y].Id})'>*@
                                                                            <div class="col-md-4">
                                                                                <img src='@Url.Content(@imgpath)' onerror="this.onerror = null;this.src='/Assets/Images/UserProfiles/Default.png'" alt="Screenshot" id=@count onclick="loadImage(@count)" />
                                                                            </div>
                                                                            @*</a>*@
                                                                            imgleft--;
                                                                            count++;

                                                                        }
                                                                    </div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="carousel-item active row col-md-12">
                                                                    <div class="row">
                                                                        @for (int y = 0; y < modssi; y++)
                                                                        {
                                                                            @*<p>@Model.ScreenshotList[y].Name</p>*@
                                                                            string imgpath = "~/" + Model.ScreenshotList[y].FilePath;
                                                                            @*<a href='@Url.Action("PublicProject", "UserProfile",new { id = Model.ScreenshotList[y].Id})'>*@
                                                                            <div class="col-md-4">
                                                                                <img src='@Url.Content(@imgpath)' onerror="this.onerror = null;this.src='/Assets/Images/UserProfiles/Default.png'" alt="Screenshot" id=@count onclick="loadImage(@count)" />
                                                                            </div>
                                                                            @*</a>*@
                                                                            imgleft--;
                                                                            count++;
                                                                        }
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (imgleft >= ImagesPerTransition)
                                                            {
                                                                <div class="carousel-item row col-md-12">
                                                                    <div class="row">
                                                                        @for (int y = 0; y < ImagesPerTransition; y++)
                                                                        {
                                                                            @*<p>@Model.Projects[y + ssi * ImagesPerTransition].Name</p>*@
                                                                            string imgpath = "~/" + Model.ScreenshotList[y + ssi * ImagesPerTransition].FilePath;
                                                                            @*<a href='@Url.Action("PublicProject", "UserProfile",new { id = Model.ScreenshotList[y + ssi * ImagesPerTransition].Id})'>*@
                                                                            <div class="col-md-4">
                                                                                <img src='@Url.Content(@imgpath)' onerror="this.onerror = null;this.src='/Assets/Images/UserProfiles/Default.png'" alt="Screenshot" id=@count onclick="loadImage(@count)" />
                                                                            </div>
                                                                            @*</a>*@

                                                                            imgleft--;
                                                                            count++;
                                                                        }
                                                                    </div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="carousel-item row col-md-12">
                                                                    <div class="row">
                                                                        @for (int y = 0; y < modssi; y++)
                                                                        {
                                                                            @*<p>@Model.Projects[y + ssi * ImagesPerTransition].Name</p>*@
                                                                            string imgpath = "~/" + Model.ScreenshotList[y + ssi * ImagesPerTransition].FilePath;
                                                                            @*<a href='@Url.Action("PublicProject", "UserProfile",new { id = Model.Projects[y + ssi * ImagesPerTransition].Id})'>*@
                                                                            <div class="col-md-4">
                                                                                <img src='@Url.Content(@imgpath)' onerror="this.onerror = null;this.src='/Assets/Images/UserProfiles/Default.png'" alt="Screenshot" id=@count onclick="loadImage(@count)" />
                                                                            </div>
                                                                            @*</a>*@
                                                                            imgleft--;
                                                                            count++;
                                                                        }
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                }
                                            </div>

                                            @if (Model.ScreenshotList?.Count > ImagesPerTransition)
                                            {
                                                <a class="carousel-control-prev w-auto" href="#demo" data-slide="prev">
                                                    <i class="fas fa-chevron-left text-dark"></i>
                                                </a>
                                                <a class="carousel-control-next w-auto" href="#demo" data-slide="next">
                                                    <i class="fas fa-chevron-right text-dark"></i>
                                                </a>
                                            }
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>






                        @*if (Model.Project.Filepath != null)
                            {
                                <dt>
                                    @Html.DisplayNameFor(model => model.Project.Filepath)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Project.Filepath)
                                </dd>
                            }*@

                        <dl>

                            <dd>
                                @Html.HiddenFor(model => model.Project.Image)
                            </dd>








                        </dl>


                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-12">
                    <a href="~/User/@Model.User.UrlFriendlyName/Projects">
                        <p>Back to Projects</p>
                    </a>
                </div>
            </div>
        </body>


    </html>


}
<script>
    function loadImage(id) {
        // Get the modal

        var modal = document.getElementById('myModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById(id);
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        modal.style.display = "block";
        modalImg.src = img.src;
        captionText.innerHTML = img.alt;

        // Get the <span>
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span>
        span.onclick = function () {
            modal.style.display = "none";
        }
    }


    document.onkeydown = function (evt) {
        evt = evt || window.event;
        var isEscape = false;
        if ("key" in evt) {
            isEscape = (evt.key === "Escape" || evt.key === "Esc");
        } else {
            isEscape = (evt.keyCode === 27);
        }
        if (isEscape) {
            var modal = document.getElementById('myModal');
            modal.style.display = "none";
        }
    };
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
}