@model MB.AgilePortfolio.MVCUI.ViewModels.UserProfile

@{
    /**/

    ViewBag.Title = "Password Recovery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Password Recovery</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p align="center">Enter your email address for you account to have a password reset link sent to it.</p>
    <div class="form-group" align="center">
        @Html.LabelFor(model => model.Email,"E-mail Address", htmlAttributes: new { @class = "control-label col-md-2"})
        <div class="col-md-10" align="center">
            @Html.EditorFor(model => model.Email, new { @class = "form-control"})
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" align="center">
        <div class="col-md-offset-2 col-md-10" align="center">
            <input type="submit" value="Send Email" class="btn btn-primary btn-default" />
        </div>
    </div>

}


<div>
    @Html.ActionLink("Return to login", "Index", "Login")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
