<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary text-uppercase" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="~/">ProveIT</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded navbar-menu-button" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle Navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">

                    @if (Session["UserType"] == null)
                    {
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link" runat="server" href="~/NewAccount/Create">Sign Up</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link" runat="server" href="~/Login/Login">Login</a>
                        </li>
                    }
                    @if (Session["user"] != null)
                    {
                        if (Session["UserType"].ToString() == "Admin")
                        {
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link" runat="server" href="~/Admin">Admin</a>
                            </li>
                        }

                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link" runat="server" href="~/CreateNewProject/Create">New Project</a>
                        </li>

                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link" runat="server" href="~/UserProfile">My Profile</a>
                        </li>

                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link" runat="server" href="~/Login/Logout">Logout</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

    </div>
    <hr class="footer-bar" />
    <footer class="page-footer font-small text-center bg-primary">
        <div class="container-fluid">
            <div class="footer-link-block row">
                <div class="col col-lg-6">
                    <h3 class="text-white">Links</h3>
                    <ul class="list-unstyled">
                        <li><a class="text-white" href="#!">Home</a></li>
                        <li><a class="text-white" href="#!">About</a></li>
                        <li><a class="text-white" href="#!">Admin</a></li>
                    </ul>
                </div>
                <div class="col col-lg-6">
                    <h3 class="text-white">Your Account</h3>
                    <ul class="list-unstyled">
                        <li><a class="text-white" href="~/Login/Login">Login</a></li>
                        <li><a class="text-white" href="~/NewAccount/Create">Sign Up</a></li>
                    </ul>
                </div>

            </div>
            <div class="row footer-copyright text-center font-small bg-secondary">
                <div class="container">
                    <p class="text-white">&copy; @DateTime.Now.Year - Team Dead Pens</p>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
