<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary text-uppercase" id="mainNav">
        <div class="container">
            @if (Session["UserType"] == null)
            {
                <a class="navbar-brand" href="~/">ProveIT</a>
            }
            else
            {
                <a class="navbar-brand" href="~/">ProveIT</a>
            }

            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded navbar-menu-button" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle Navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link" runat="server" href="~/Search">Search</a>
                    </li>

                    @if (Session["UserType"] == null)
                    {
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link" runat="server" href="~/NewAccount">Sign Up</a>
                        </li>
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link" runat="server" href="~/Login">Login</a>
                        </li>
                    }
                    @if (Session["user"] != null)
                    {
                        if (Session["UserType"].ToString() == "Admin")
                        {
                            <li class="nav-item mx-0 mx-lg-1">
                                <a class="nav-link" runat="server" href="~/Admin">Admin</a>
                            </li>
                        }


                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link" runat="server" href="~/UserProfile">My Profile</a>
                        </li>

                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link" runat="server" href="~/Login/Logout">Logout</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

    </div>
 @* 
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

     These worked on every page except the homepage, tiny white space still at bottom but better than what we had before
*@
    <hr class="footer-bar" />
    <div class="page-footer font-small text-center bg-primary" id="footer"> @*"fixed-bottom" class worked the best but did not force footer to bottom of page*@
        <div class="container-fluid">
            <div class="footer-link-block row">
                <div class="col col-lg-6">
                    <h3 class="text-white">Links</h3>
                    <ul class="list-unstyled">
                        <li><a class="text-white" href="~/">Home</a></li>
                        <li><a class="text-white" href="~/About">About</a></li>
                    </ul>
                </div>
                <div class="col col-lg-6">
                    <h3 class="text-white">Your Account</h3>
                    <ul class="list-unstyled">
                        @if (Session["UserType"] == null)
                        {
                            <li><a class="text-white" href="~/Login">Login</a></li>
                            <li><a class="text-white" href="~/NewAccount">Sign Up</a></li>
                        }
                        else
                        {
                            <li><a class="text-white" href="~/UserProfile">My Profile</a></li>
                        }
                    </ul>
                </div>

            </div>
            <div class="row footer-copyright text-center font-small bg-secondary">
                <div class="container">
                    <p class="text-white">&copy; @DateTime.Now.Year - Team Dead Pens</p>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
