<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="~/">ProveIT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" runat="server" href="~/User">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/UserType">UserTypes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Language">Languages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Portfolio">Portfolios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Privacy">Privacies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Screenshot">Screenshots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Status">Statuses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Project">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/NewAccount/Create">Create New Account</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
