@model MB.AgilePortfolio.MVCUI.ViewModels.ScreenshotProjects

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Screenshot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Screenshot.Filepath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Screenshot.Filepath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Screenshot.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
