@model MB.AgilePortfolio.MVCUI.ViewModels.PortfolioUsers
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Portfolio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Portfolio.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Portfolio.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Portfolio.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Portfolio.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Portfolio.PortfolioImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Portfolio.PortfolioImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
